@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: "helvetica200";
	src: url("../../public/fonts/helveticaneuelt-std-thin_normal_250.ttf") format("truetype");
}
@font-face {
	font-family: "roboto300";
	src: url("../../public/fonts/roboto-slab-light_normal_300.ttf") format("truetype");
}

@font-face {
	font-family: "helvetica500";
	src: url("../../public/fonts/helvetica-neue-lt-std_normal_500.otf") format("truetype");
} */
.boldweight {
	font-family: helvetica500;
}

@layer base {
	@font-face {
		font-family: "helvetica200";
		src: url("../../public/fonts/helveticaneuelt-std-thin_normal_250.ttf") format("truetype");
	}
	@font-face {
		font-family: "roboto300";
		src: url("../../public/fonts/roboto-slab-light_normal_300.ttf") format("truetype");
	}

	@font-face {
		font-family: "helvetica500";
		src: url("../../public/fonts/helvetica-neue-lt-std_normal_500.otf") format("truetype");
	}
	h1 {
		@apply font-helvetica200 text-5xl font-extralight leading-9 mb-8;
	}

	boldweight {
		@apply font-helvetica500;
	}

	p {
		@apply font-roboto300 text-base leading-6;
	}

	a:link,
	a:visited {
		@apply text-black text-lg my-8;
	}

	button {
		@apply border-2 border-solid border-black rounded-lg bg-transparent px-8 py-4 text-center no-underline inline-block font-roboto500 text-lg my-8 cursor-pointer tracking-wider;
	}
	:root {
		--text-primary: rgba(0 0 0);
		--text-secondary: rgba(0 0 0);
		--button-bg: rgba(255 255 255);
		--button-text: rgba(0 0 0);
		--button-border: rgba(0 0 0);
		--background: rgba(255, 255, 255, 1);
		--foreground: rgba(255, 254, 255, 1);

		--card: rgb(255, 255, 255);
		--card-foreground: rgba(25, 25, 25, 1);

		--popover: rgba(255, 255, 255, 1);
		--popover-foreground: rgba(25, 25, 25, 1);

		--primary: rgb(248, 2, 2);
		--primary-foreground: rgba(255, 250, 250, 1);

		--secondary: rgba(247, 247, 247, 1);
		--secondary-foreground: rgba(33, 33, 33, 1);

		--muted: rgba(247, 247, 247, 1);
		--muted-foreground: rgba(109, 109, 109, 1);

		--accent: rgba(247, 247, 247, 1);
		--accent-foreground: rgba(33, 33, 33, 1);

		--destructive: rgba(255, 51, 51, 1);
		--destructive-foreground: rgba(255, 250, 250, 1);

		--border: rgba(229, 229, 229, 1);
		--input: rgba(229, 229, 229, 1);
		--ring: rgba(25, 25, 25, 1);

		--radius: 0.5rem;
		--form-background: rgba(255 255 255);
	}
}

.layout-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff00;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
.imagebackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    object-position: 70% 12%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground font-helvetica200 gap-2;
	}
}

@layer components {
	.container-landingpage {
		@apply flex items-center justify-start h-screen;
	}
	.layout-full-left {
		@apply container mx-0 px-20 md:px-12 space-y-6;
	}

	.layout-grid-left {
		@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-0 px-4;
	}

	.layout-center-left {
		@apply container mx-0 px-4 md:px-8 max-w-2xl;
	}

	.form-field {
		@apply w-full max-w-form-field bg-white text-black border border-gray-300 rounded-md p-2;
	}

	.btn {
		@apply px-4 py-2 rounded-md text-white bg-primary hover:bg-opacity-90;
	}

	.button-primary {
		@apply rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-primary shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;
	}
	.primary-button {
		@apply border-2 border-button-border rounded-lg bg-button-bg px-8 py-4 text-center font-roboto500 text-xl text-button-text cursor-pointer mt-8 mb-8 tracking-wide;
	}
	.btn-destructive {
		@apply px-4 py-2 rounded-md text-white bg-destructive hover:bg-opacity-90;
	}
	.footer-text {
		@apply font-roboto300 text-base leading-relaxed text-text-secondary;
	}
	.header {
		@apply bg-white py-4 z-10 relative;
	}

	.header-content {
		@apply container mx-auto flex justify-between items-center;
	}
	.nav-link {
		@apply text-black hover:underline;
	}

	.header-button {
		@apply text-black hover:text-gray-700;
	}
	.header-link-container {
		@apply flex items-center gap-12;
	}
}
