@font-face {
	font-family: "helvetica200";
	src: url("../../public/fonts/helveticaneuelt-std-thin_normal_250.ttf") format("truetype");
}

@font-face {
	font-family: "helvetica500";
	src: url("../../public/fonts//helveticaneuelt-std-thin_normal_250.ttf") format("truetype");
}

@font-face {
	font-family: "roboto300";
	src: url("../../public/fonts/roboto-slab-light_normal_300.ttf") format("truetype");
}

@font-face {
	font-family: "roboto500";
	src: url("/fonts/roboto-slab-medium_normal_500.ttf") format("truetype");
}


/* @.navLinkNavbar2{
	position: relative;
	background-color: red;
} */